body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Docked Tablet
@media (pointer: coarse) {
  .docked {
    color: red;
    zoom: 1.3;
  }
}

// Desktop
@media (pointer: fine) {
  .desktop {
    zoom: 2;
    color: red;
  }
}

// Tablet no docking
@media (pointer: none) {
  .tablet {
    color: red;
    zoom: 1.3;
  }
}